@font-face {
	font-family: 'wptg-icons';
	src:url('../font/wptg-icons.eot?-jgkfsj');
	src:url('../font/wptg-icons.eot?#iefix-jgkfsj') format('embedded-opentype'),
		url('../font/wptg-icons.woff?-jgkfsj') format('woff'),
		url('../font/wptg-icons.ttf?-jgkfsj') format('truetype'),
		url('../font/wptg-icons.svg?-jgkfsj#wptg-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'wptg-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wptg-icon-heart:before {
	content: "\e601";
}
.wptg-icon-star:before {
	content: "\e602";
}
.wptg-icon-star-empty:before {
	content: "\e607";
}
.wptg-icon-lock:before {
	content: "\e600";
}
.wptg-icon-tick:before {
	content: "\e603";
}
.wptg-icon-cross:before {
	content: "\e604";
}
.wptg-icon-info:before {
	content: "\e605";
}
.wptg-icon-warning:before {
	content: "\e606";
}
