/* ------------------
	AOL: Huffington Post - Rail - 10
------------------------- */

@font-face {
    font-family: 'OpenSansCondensed';
    src: url('../../fonts/opensans-condensed/opensans-condbold-webfont.eot');
    src: url('../../fonts/opensans-condensed/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/opensans-condensed/opensans-condbold-webfont.woff') format('woff'),
         url('../../fonts/opensans-condensed/opensans-condbold-webfont.ttf') format('truetype'),
         url('../../fonts/opensans-condensed/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------
  Widget Container
------------------------- */
#grv_widget {
  position: relative;
  margin: 0;
  padding: 0;
}

/* ------------------
  Widget Title
------------------------- */
.grv_panel_content {
	overflow: hidden;
}
.grv_stories_header {
	display: block;
	font-size: 0px;
/*
	font-family: OpenSansCondensed;
	font-size: 26px;
	color: #454545!important;
	border-top: 2px solid #828282;
	padding-top: 14px!important;
	border-bottom: 1px dotted #b6b6b6!important;
	padding-bottom: 12px!important;
	text-transform: uppercase;
	margin-left: -1px;
	margin-bottom: -3px;
	line-height: 20px;
*/
}

/* ------------------
  Articles
------------------------- */
ul.grv_articles {
  padding: 0;
  margin: 0;
  width: 301px;
}

li.grv_article {
  position: relative;
  margin-bottom: 0px;
  border-top: 1px dotted #b6b6b6;
	padding: 10px 0px 7px 0px;
}

.grv_article.grv_num_0 {
	border-top: none;
}

.grv_article_title {
	color: #000;
  display: block;
  font-family: Arial, Helvetica, san-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
	margin: 0;
	overflow: hidden;
  margin-bottom: 5px;
  position: relative;
  text-decoration: none;
	text-transform: capitalize;
}

.grv_article_title:hover {
	text-decoration: underline;
}

/* HAS IMAGE */
.grv_has_image a.grv_img_link {
  height: 140px;
  width: 100%;
  display: block; 
  background: #fff;
  overflow: hidden;
  position: relative;
  margin-bottom: 7px;
  margin-top: 10px;
  z-index: 1;
}

/*
.grv_article:hover .grv_display_name {
	background: rgba(255, 255, 255, 1);
	color: rgb(51, 51, 51);
	display: block;
	font-family: Arial, 'Helvetica Neue', Helvetica, san-serif;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	opacity: 0.87;
	padding: 2px 5px;
	position: absolute;
	bottom: 25px;
	right: 0px;
	text-decoration: none;
	z-index: 10;
}
*/

/* ------------------
 	Gravity Attribution
------------------------- */
#grv_badge {
	display: none;
}
#grvWidgetStylesLoaded_aol_huffingtonpost_rail_10_v2_202c7dfc7502a534801fabb2eeaf22fe_css {
  width: 1px;
  height: 1px;
  visibility: hidden;
}
