#logoAndBanner, #customcontent #logoAndBanner {
	background-image: url(/_gradient/vertical/976/120/808080/c0c0c0.png);
	font-family: arial;
	font-size: 36px;
	line-height: 120px;
	color: #FFFFFF;
}

#logoAndBanner {
	color: #FFFFFF;
	background-color: #7F8C75;
	margin-bottom: 0px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.menuOff {
	color: #858585;
	background-color: #FFFFFF;
	background-image: none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	border-top-color: #243F8F;
	border-top-width: 0px;
	border-top-style: none;
	border-left-color: #243F8F;
	border-left-width: 0px;
	border-left-style: none;
	border-right-color: #243F8F;
	border-right-width: 1px;
	border-right-style: dotted;
	border-bottom-color: #243F8F;
	border-bottom-width: 0px;
	border-bottom-style: none;
	padding-top: 2px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.menu2Off {
	color: #ffffff;
	background-color: #7F8C75;
	background-image: none;
	font-size: 11px;
	font-weight: bold;
	border-top-width: 0px;
	border-top-style: none;
	border-right-width: 0px;
	border-right-style: none;
	padding-top: 3px;
	padding-bottom: 2px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.submenuOff {
	color: #FFFFFF;
	background-color: #7F8C75;
	font-size: 10px;
	float: none;
	z-index: 999999;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.submenuOn {
	color: #FFFFFF;
	background-color: #2B3F2C;
	font-size: 10px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

a {
	color: #384936;
	text-decoration: none;
	--gads: ID=e782294ac6bcc0cb:T=1269454156:S=ALNI_MZNDpYpEQp0qCon1qeWNI-3t2nUDA;
}

#navAboveLogo {
	color: #FFFFFF;
	background-color: #FFFFFF;
}

.menuOn {
	color: #7F8C75;
	background-color: #FFFFFF;
	background-image: none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	border-top-color: #243F8F;
	border-top-width: 0px;
	border-top-style: none;
	border-left-color: #243F8F;
	border-left-width: 0px;
	border-left-style: none;
	border-right-color: #243F8F;
	border-right-width: 1px;
	border-right-style: dotted;
	border-bottom-color: #243F8F;
	border-bottom-width: 0px;
	border-bottom-style: none;
	padding-top: 2px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

#columnBv2 h2.breadcrumb, h2.breadcrumb {
	color: #FFFFFF;
	background-color: #FFFFFF;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #7F8C75;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

#columnBv2 h2.breadcrumb, h2.breadcrumb a {
	color: #FFFFFF;
}

#columnBv2 h2.breadcrumb, h2.breadcrumb a:hover {
	color: #F05C21;
}

#columnBv2 h2.breadcrumb span a {
	color: #FFFFFF;
}

#columnBv2 h2.breadcrumb span a:hover {
	color: #F05C21;
}

a:hover {
	color: #7F8C75;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

#navBelowLogo {
	background-color: #FFFFFF;
	border-top-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-left-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

#logoAndBanner .banner {
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 5px;
	padding-bottom: 7px;
}

.skyleft {
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	--gads: ID=b02548556346f907:T=1360164761:S=ALNI_MbxA2BdifTZhFTqf2Lw2GnpZ0mdUw;
}

.skyright {
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}

h2.headerboxL, h2.headerboxR, h2.relatedproducts, h2.relatedmedia, h2.usercomments, h2.relatedlinks, h2.postcomments, h2.userlogin, h2.registration, h2.headerboxRelatedArticle, h2.headersearchbox {
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}

h2.headerboxR {
	color: #FFFFFF;
	background-color: #7F8C75;
	padding-top: 5px;
	padding-bottom: 5px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

h5.headerboxL, h5.headerboxR, h5.relatedproducts, h5.relatedmedia, h5.usercomments, h5.relatedlinks, h5.postcomments, h5.userlogin, h5.registration, h5.headerboxRelatedArticle, h5.headersearchbox {
	color: #FFFFFF;
	background-color: #7F8C75;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.boxL, .boxL2, .boxLS, .boxWide, .boxLS_V3, .boxR, .boxRV2 .boxR2, .boxRproducts, .boxRmedia, .boxRusercomments, .boxRlinks, #boxgrey, .columnB1_A, .columnB1_B {
	color: #000000;
	background-color: #FFFFFF;
	padding-top: 7px;
	padding-bottom: 7px;
}

.searchbox, .yourbasket {
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	padding-top: 1px;
	padding-left: 8px;
	padding-bottom: 1px;
	margin-bottom: 3px;
}

h2.headersearchbox {
	background-color: #ffffff;
	background-image: url(/siteimage/scale/0/0/132203.gif);
	background-repeat: no-repeat;
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 50px;
	min-width: 160px;
	--gads: ID=e782294ac6bcc0cb:T=1269454156:S=ALNI_MZNDpYpEQp0qCon1qeWNI-3t2nUDA;
}

.menu2On {
	color: #FFFFFF;
	background-color: #676767;
	background-image: none;
	font-size: 12px;
	font-weight: bolder;
	border-top-width: 0px;
	border-top-style: none;
	border-right-width: 0px;
	border-right-style: none;
	padding-top: 3px;
	padding-bottom: 2px;
}

h2.headerboxL span a, h2.headerboxR span a {
	color: #FFFFFF;
}

h2.headerboxL span a:hover, h2.headerboxR span a:hover {
	color: #F05C21;
}

.tagHeaderBox {
	color: #FFFFFF;
	background-color: #7F8C75;
	padding-top: 5px;
	padding-bottom: 5px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

h2.basebar {
	background-color: #FFFFFF;
	background-image: none;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}

#columnB h2.breadcrumb span.breadcrumbpath {
}

h2.headersearchbox div {
	background-color: #000000;
	font-size: 0px;
}

.homeMessageform {
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}

html,body {
	font-family: Arial, Verdana, sans-serif;
}

#body_shell {
	width: 1010px;
}

#boxgrey p {
	margin-bottom: -2px;
}

#logoAndBanner .logo {
}

.bodycontents ul li {
	font-size: 14px;
	margin-left: 20px;
}

.boxTableSearchResults .boxWidev5 {
	min-height: 95px;
}

.col2 .headcol2 {
	background-color: #F05C21;
}

h2.breadcrumb span.breadcrumbpath {
	padding-top: 4px;
}

.columnB1_A, .columnB1_B {
}

.columnB1_A div p, .columnB1_B div p {
}

h2.headerboxL {
	color: #FFFFFF;
	background-color: #A0BE9C;
	font-family: Verdana, arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.bodycontents {
	font-size: 14px;
}

h2.intro {
	font-size: 16px;
}

.bodycontents ul {
	font-size: 14px;
}

h2.yourbasketheader {
	background-color: #243F8F;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 6px;
	rsi-segs: J09847_10001|J09847_10008;
}

#logoAndBanner .banner, #customcontent #logoAndBanner .banner {
	background-color: #7F8C75;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	float: right;
}

#logoAndBanner a, #customcontent #logoAndBanner a {
	color: #FFFFFF;
}

#logoAndBanner div.logo, #customcontent #logoAndBanner div.logo {
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 207px;
}

#columnBv2 h2.breadcrumb a:hover, h2.breadcrumb a:hover {
	color: #F05C21;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

h1.headline {
	color: #322F00;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	line-height: 18px;
	padding-bottom: 3px;
}

h2.headerboxL div a {
	color: #FFFFFF;
	font-weight: bold;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

h2.headerboxL div a:hover {
	color: #454B40;
	font-weight: bold;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.homeselltext {
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.backgBox {
	background-color: #FFFFFF;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.homesellheadline {
	color: #7F8C75;
	font-family: Georgia, Times New Roman;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.homesellheadline a {
	color: #000000;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.homesellheadline a:hover {
	color: #585858;
	text-decoration: none;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.hometabboxtab {
	color: #FFFFFF;
	font-family: Verdana, Helvetica, Arial;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.hometabboxheader {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	margin-top: 8px;
	margin-right: 2px;
	display: none;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

ul.hometabboxlinks {
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.hometabboxtext {
	color: #454B40;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

ul.hometabboxlinks a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.backgTabs {
	background-color: #7F8C75;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

h2.userlogin, h2.registration, h2.headerboxRelatedArticle, h2.headerboxBlog, h2.headersearchbox {
	color: #FFFFFF;
	background-color: #A0BE9C;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.hometabboxheadline {
	color: #FFFFFF;
	text-decoration: none;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.hometabboxheadline a {
	color: #FFFFFF;
	font-family: Georgia, Times New Roman;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.hometabboxheadline a:hover {
	color: #7F8C75;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

#logoAndBanner .logo, #customcontent #logoAndBanner .logo {
	background-color: #7F8C75;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 207px;
	float: left;
}

.mpubox {
	--gads: ID=b02548556346f907:T=1360164761:S=ALNI_MbxA2BdifTZhFTqf2Lw2GnpZ0mdUw;
}

h1.headline em, h1.articleheadline em {
	padding-top: 4px;
	--gads: ID=2ba62e404fb9de59:T=1271954157:S=ALNI_MbCxtjsTAy-PrlUjkxf0wYJBakIWw;
}

.bodycontents a {
	text-decoration: underline;
	--gads: ID=e782294ac6bcc0cb:T=1269454156:S=ALNI_MZNDpYpEQp0qCon1qeWNI-3t2nUDA;
}

body {
	color: #000000;
	background-color: #FFFFFF;
	font-family: arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-align: left;
	font-variant: normal;
}

p.subheading1 {
	font-size: 14px;
}

p.subheading2 {
	font-size: 12px;
}

