#wnb-bar{
	font-family: sans-serif;
	position:absolute;
	width:100%;
	z-index:99999;
	background:#000;
	text-align:center;
	color:#fff;
	height:33px;
	top:0px;
	left:0px;
	border-bottom: 3px solid #fff;
		-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	font-size:14px;
	line-height: 33px;
}

#wnb-bar a, #wnb-bar a:link, #wnb-bar a:active, #wnb-bar a:visited, #wnb-bar a:hover{
	font-family: sans-serif;
	text-decoration:none;
}
.wnb-bar-button{
	display:inline-block;
	margin-left:5px;
	font-family: sans-serif;
	padding: 2px 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 10.998px;
	font-weight: bold;
	line-height: 14px;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999;
}

 