body {font-family :  Verdana, Helvetica, Arial; font-size : 8.2pt; color: #3b3d3f}
body.noscroll {font-family :  Verdana, Helvetica, Arial; font-size : 8.2pt; color: #3b3d3f; overflow-x: hidden;}
body.withscroll {font-family :  Verdana, Helvetica, Arial; font-size : 8.2pt; color: #3b3d3f; overflow-x: auto;}

td {font-family :  Verdana, Helvetica, Arial; font-size : 8.5pt}
.regular {font-family:  Verdana, Helvetica, Arial; font-size: 7.2pt;  background: #FFFFFF}
.input {font-family:  Verdana, Helvetica, Arial; font-size: 7.2pt; background: #FFFFFF}
.inputsm {width:70px; font-family:  Verdana, Helvetica, Arial; font-size: 7.2pt;  background: #FFFFFF}
.input1 {width:20px; font-family:  Verdana, Helvetica, Arial; font-size: 7.2pt;  background: #FFFFFF}
.input2{border:1px #a9adb1 solid; background-color:#FFFFFF; font:9px Geneva, Verdana, Arial; color:#333333;	height:18px;	width:350px;}
.inputold {  font-family:  Verdana, Helvetica, Arial; font-size: 7.2pt; background: #F6F6F6}
.h6green {font: 9.2pt; color: #5a8716; font-weight: bold}
.h1 {font: 8.2pt; color: #e22882; font-weight: bold}
.h1old {font: 12pt; color: #e22882; font-weight: bold}
.h2 {font: 8.5pt; color: #ffffff}
.h22 {font: 7.5pt}
.h3 {font: 9pt}
.h33 {font: 6.5pt; color: #7A7E82}
.h4 {font: 7.5pt; color: #3b3d3f}
.h41 {font: 7.5pt; color: Black;}
.h5 {font: 9.2pt;}
.h6 {font: 9.2pt; color: #e22882; font-weight: bold}
.h6green {font: 9.2pt; color: #5a8716; font-weight: bold}
.h6old {font: 9.2pt; color: #e22882; font-weight: bold}
.h7 {font: 8pt; color: #e22882}
.h71 {font: 8pt; color: #7A7E82}
.img {border-color: #cac4bb; border-style:solid;border-width:1px;padding: 5px;}
a:link {text-decoration: none; color: #246EAC}
a:visited {text-decoration: none; color: #246EAC}
a:active {text-decoration: none; color: #e22882}
a:hover {text-decoration: underline; color: #e22882}
.top2 {font-family:  Helvetica, Verdana, Arial; font-size: 8.5pt}
.top2 a:link {text-decoration: none; color: #676767}
.top2 a:visited {text-decoration: none; color: #676767}
.top2 a:active {text-decoration: none; color: #676767}
.top2 a:hover {text-decoration: none; color: #B90000}
.top {font: 8pt; color: #ffffff}
.top a:link {font-size: 8pt; text-decoration: none; color: #ffffff}
.top a:visited {font-size: 8pt; text-decoration: none; color: #ffffff}
.top a:active {font-size: 8pt; text-decoration: none; color: #ffffff}
.top a:hover {font-size: 8pt; text-decoration: underline; color: #ffffff}
.board a:link {text-decoration: none; color: #246EAC}
.board a:visited {text-decoration: none; color: #697EA5}
.board a:active {text-decoration: none; color: #000000}
.board a:hover {text-decoration: underline; color: #B90000}
.exif { font-size : 7.5pt; color: "#7F8080"}
.keywords {
	font-family :  Verdana, Helvetica, Arial;
	font-size : 7pt; color: "#000000"
}
.frm_table {
	BACKGROUND-COLOR: #CCCCCC;
}
.frm_td1 {
	FONT-SIZE: 12px; PADDING-TOP: 2px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #3b3d3f; FONT-FAMILY: Verdana,  Arial, Helvetica; BACKGROUND-COLOR: #C0E850
}
.frm_td2 {
	FONT-SIZE: 11px; PADDING-TOP: 2px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #3b3d3f; FONT-FAMILY: Verdana,  Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
.frm_td3 {
	FONT-SIZE: 11px; PADDING-TOP: 2px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #3b3d3f; FONT-FAMILY: Verdana,  Arial, Helvetica; BACKGROUND-COLOR: #FAF7F7
}
.frm_td4 {
	FONT-SIZE: 11px; PADDING-TOP: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 16px; COLOR: #3b3d3f; FONT-FAMILY: Verdana,  Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
.frm_td5 {
	FONT-SIZE: 10px; PADDING-TOP: 2px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #88898B; FONT-FAMILY: Verdana,  Arial, Helvetica;
}
.frm_td6 {
	FONT-SIZE: 11px; PADDING-TOP: 2px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #3b3d3f; FONT-FAMILY: Verdana,  Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
.frm_td7 {font-family: Arial; font: 7.1pt; color: #ff0000}
.redl a:link {text-decoration: none; color: #e22882}
.redl a:visited {text-decoration: none; color: #e22882}
.redl a:active {text-decoration: none; color: #e22882}
.redl a:hover {text-decoration: underline; color: #e22882}
.bluebold {color: #246EAC; font-weight: bold;}
#ajaxdiv {BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; Z-INDEX: 100; VISIBILITY: hidden; PADDING-BOTTOM: 0px; BORDER-LEFT: black 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BACKGROUND-COLOR: white;}
.style9 {color: #FFFFFF;font-weight: bold;}

.btn { border:none; display : block; font-family : arial; color : #fff!important; text-align : left; }
.btn:hover { text-decoration : none; }
.btnSearch { padding : 0 0 0 11px; width : 63px; _width : 74px; height : 28px; line-height : 28px; font-weight : bold; font-size : 12px; background : url(http://thumbs.dreamstime.com/site-img/but_search_pink.jpg) no-repeat 0 0; }
.btnSearch:hover { background : url(http://thumbs.dreamstime.com/site-img/but_search_pink.jpg) no-repeat 0 -28px; }
.btnSearchT { padding : 0 0 0 11px; width : 63px; _width : 74px; height : 28px; line-height : 28px; font-weight : bold; font-size : 12px; background : url(http://thumbs.dreamstime.com/site-img/but_search_pink.png) no-repeat 0 0; }
.btnSearchT:hover { background : url(http://thumbs.dreamstime.com/site-img/but_search_pink.png) no-repeat 0 -28px; }
.btnSearchS { padding : 0 0 0 11px; width : 63px; height : 18px; line-height : 18px; font-size : 11px; background : url(http://thumbs.dreamstime.com/site-img/but_search_s_pink.jpg) no-repeat 0 0; }
.btnSearchS:hover { background : url(http://thumbs.dreamstime.com/site-img/but_search_s_pink.jpg) no-repeat 0 -18px; }
.btnTop1 { display:inline-table; _display:inline; color:#3B3D3F !important; text-align:center; width : 135px; height : 21px; line-height : 21px; font-size : 12px; background : url(http://thumbs.dreamstime.com/site-img/but_top1.gif) no-repeat 0 0; }
.btnTop1:hover { background : url(http://thumbs.dreamstime.com/site-img/but_top1.gif) no-repeat 0 -21px; }
.btnTop2 { display:inline-table; _display:inline; color:#FFFFFF !important; text-align:center; width : 135px; height : 21px; line-height : 21px; font-size : 12px; background : url(http://thumbs.dreamstime.com/site-img/but_top3.gif) no-repeat 0 0; }
.btnTop2:hover { background : url(http://thumbs.dreamstime.com/site-img/but_top3.gif) no-repeat 0 -21px; }
.btnThin { display:inline-table; _display:inline; font-weight:normal; line-height:14px; color:#3B3D3F !important; text-align:center; width : 135px; height : 17px; font-size : 11px; background : url(http://thumbs.dreamstime.com/site-img/but_gray2.gif) no-repeat 0 0; }
.btnThin:hover { background : url(http://thumbs.dreamstime.com/site-img/but_gray2.gif) no-repeat 0 -17px; }
.btnSmall { display:inline-table; _display:inline; font-weight:normal; line-height:14px; color:#3B3D3F !important; text-align:center; width : 85px; height : 17px; font-size : 11px; background : url(http://thumbs.dreamstime.com/site-img/but_gray_small.gif) no-repeat 0 0; }
.btnSmall:hover { background : url(http://thumbs.dreamstime.com/site-img/but_gray_small.gif) no-repeat 0 -17px; }
.btnSmallC { display:inline-table; _display:inline; font-weight:normal; line-height:16px; color:#3B3D3F !important; text-align:center; width : 85px; height : 17px; font-size : 11px; background : url(http://thumbs.dreamstime.com/site-img/but_gray_small.gif) no-repeat 0 0; }
.btnSmallC:hover { background : url(http://thumbs.dreamstime.com/site-img/but_gray_small.gif) no-repeat 0 -17px; }
.btnInput { padding-bottom:1px; display:inline-table; _display:inline; font-weight:normal; line-height:14px; color:#3B3D3F !important; text-align:center; width : 85px; height : 17px; font-size : 11px; background : url(http://thumbs.dreamstime.com/site-img/but_gray_small.gif) no-repeat 0 0; }
.btnInput:hover { background : url(http://thumbs.dreamstime.com/site-img/but_gray_small.gif) no-repeat 0 -17px; }

.btnSearch_secure { padding : 0 0 0 11px; width : 63px; _width : 74px; height : 28px; line-height : 28px; font-weight : bold; font-size : 12px; background : url(/site-img/but_search_pink.jpg) no-repeat 0 0; }
.btnSearch_secure:hover { background : url(/site-img/but_search_pink.jpg) no-repeat 0 -28px; }
.btnSearchS_secure { padding : 0 0 0 11px; width : 63px; height : 18px; line-height : 18px; font-size : 11px; background : url(/site-img/but_search_s_pink.jpg) no-repeat 0 0; }
.btnSearchS_secure:hover { background : url(/site-img/but_search_s_pink.jpg) no-repeat 0 -18px; }
.btnTop1_secure { display:inline-table; _display:inline; color:#3B3D3F !important; text-align:center; width : 135px; height : 21px; line-height : 21px; font-size : 12px; background : url(/site-img/but_top1.gif) no-repeat 0 0; }
.btnTop1_secure:hover { background : url(/site-img/but_top1.gif) no-repeat 0 -21px; }
.btnTop2_secure { display:inline-table; _display:inline; color:#FFFFFF !important; text-align:center; width : 135px; height : 21px; line-height : 21px; font-size : 12px; background : url(/site-img/but_top3.gif) no-repeat 0 0; }
.btnTop2_secure:hover { background : url(/site-img/but_top3.gif) no-repeat 0 -21px; }
.btnThin_secure { display:inline-table; _display:inline; font-weight:normal; line-height:14px; color:#3B3D3F !important; text-align:center; width : 135px; height : 17px; font-size : 11px; background : url(/site-img/but_gray2.gif) no-repeat 0 0; }
.btnThin_secure:hover { background : url(/site-img/but_gray2.gif) no-repeat 0 -17px; }
.btnSmall_secure { display:inline-table; _display:inline; font-weight:normal; line-height:14px; color:#3B3D3F !important; text-align:center; width : 85px; height : 17px; font-size : 11px; background : url(/site-img/but_gray_small.gif) no-repeat 0 0; }
.btnSmall_secure:hover { background : url(/site-img/but_gray_small.gif) no-repeat 0 -17px; }
.btnSmallC_secure { display:inline-table; _display:inline; font-weight:normal; line-height:16px; color:#3B3D3F !important; text-align:center; width : 85px; height : 17px; font-size : 11px; background : url(/site-img/but_gray_small.gif) no-repeat 0 0; }
.btnSmallC_secure:hover { background : url(/site-img/but_gray_small.gif) no-repeat 0 -17px; }
.btnInput_secure { padding-bottom:1px; display:inline-table; _display:inline; font-weight:normal; line-height:14px; color:#3B3D3F !important; text-align:center; width : 85px; height : 17px; font-size : 11px; background : url(/site-img/but_gray_small.gif) no-repeat 0 0; }
.btnInput_secure:hover { background : url(/site-img/but_gray_small.gif) no-repeat 0 -17px; }



.bBtn {margin:0; border:none; display:inline-table; display:inline-block \9; color:#3B3D3F !important; font-family:arial; font-weight:normal; font-size:11px; line-height:12px !important; text-align:center; text-decoration:none !important; vertical-align:baseline; cursor:pointer;}
.bInput{padding-bottom:3px;}

.bSmall {background:url(http://thumbs.dreamstime.com/site-img/but_gray_small.gif) no-repeat 0 0px; width : 85px; height : 17px;}
.bSmall:hover {background:url(http://thumbs.dreamstime.com/site-img/but_gray_small.gif) no-repeat 0 -17px;}
.bLong {background:url(http://thumbs.dreamstime.com/site-img/but_gray2.gif) no-repeat 0 0; width:135px; height:17px;}
.bLong:hover {background:url(http://thumbs.dreamstime.com/site-img/but_gray2.gif) no-repeat 0 -17px;}
.bSmallGreen {background:url(http://thumbs.dreamstime.com/site-img/but_green_small4.gif) no-repeat 0 0; width : 85px; height : 17px; color:#FFFFFF !important;}
.bSmallGreen:hover {background:url(http://thumbs.dreamstime.com/site-img/but_green_small4.gif) no-repeat 0 -17px;}
.bLongGreen {background:url(http://thumbs.dreamstime.com/site-img/but_green.gif) no-repeat 0 0; width:135px; height:17px; color:#FFFFFF !important;}
.bLongGreen:hover {background:url(http://thumbs.dreamstime.com/site-img/but_green.gif) no-repeat 0 -17px;}
.bCheck {background:url(http://thumbs.dreamstime.com/site-img/but_gray_check.gif) no-repeat 0 0; width : 17px; height : 17px;}
.bCheck:hover {background:url(http://thumbs.dreamstime.com/site-img/but_gray_check.gif) no-repeat 0 -17px;}

.bSmall_secure {background:url(/site-img/but_gray_small.gif) no-repeat 0 0; width : 85px; height : 17px;}
.bSmall_secure:hover {background:url(/site-img/but_gray_small.gif) no-repeat 0 -17px;}
.bLong_secure {background:url(/site-img/but_gray2.gif) no-repeat 0 0; width:135px; height:17px;}
.bLong_secure:hover {background:url(/site-img/but_gray2.gif) no-repeat 0 -17px;}
.bSmallGreen_secure {background:url(/site-img/but_green_small4.gif) no-repeat 0 0; width : 85px; height : 17px; color:#FFFFFF !important;}
.bSmallGreen_secure:hover {background:url(/site-img/but_green_small4.gif) no-repeat 0 -17px;}
.bLongGreen_secure {background:url(/site-img/but_green.gif) no-repeat 0 0; width:135px; height:17px; color:#FFFFFF !important;}
.bLongGreen_secure:hover {background:url(/site-img/but_green.gif) no-repeat 0 -17px;}
.bCheck_secure {background:url(/site-img/but_gray_check.gif) no-repeat 0 0; width : 17px; height : 17px;}
.bCheck_secure:hover {background:url(/site-img/but_gray_check.gif) no-repeat 0 -17px;}

.lh10{line-height:10px !important;}
.lh12{line-height:12px !important;}
.lh14{line-height:14px !important;}
.lh16{line-height:16px !important;}
.lh18{line-height:18px !important;}


.but_buy_pink_white { text-align:center; width : 150px; height : 28px; line-height : 28px; font-weight : bold; font-size : 12px; background : url(http://thumbs.dreamstime.com/site-img/but_buy_pink_white.jpg) no-repeat 0 0; }
.but_buy_pink_white:hover { background : url(http://thumbs.dreamstime.com/site-img/but_buy_pink_white.jpg) no-repeat 0 -28px; }
.but_buynow_pink_white { text-align:center; width : 90px; height : 28px; line-height : 28px; font-weight : bold; font-size : 12px; background : url(http://thumbs.dreamstime.com/site-img/but_buynow_pink_white.jpg) no-repeat 0 0; }
.but_buynow_pink_white:hover { background : url(http://thumbs.dreamstime.com/site-img/but_buynow_pink_white.jpg) no-repeat 0 -28px; }
.but_buy_pink_gray { text-align:center; width : 150px; height : 28px; line-height : 28px; font-weight : bold; font-size : 12px; background : url(http://thumbs.dreamstime.com/site-img/but_buy_pink_white.jpg) no-repeat 0 0; }
.but_buy_pink_gray:hover { background : url(http://thumbs.dreamstime.com/site-img/but_buy_pink_white.jpg) no-repeat 0 -28px; }

.cartFrame{left:0px; top:0px; background-color:#999999; overflow: hidden; border:1px solid #3B3D3F; box-shadow:5px 10px 20px #333; -webkit-box-shadow:5px 10px 20px #333; -moz-box-shadow:5px 10px 20px #333;}
.cartFs{background-color:#fff; border:1px solid #3B3D3F; border-top:0px; cursor:default; margin:5px; margin-top:15px; height:200px; overflow:hidden}
.cart_body{background-image: url(http://thumbs.dreamstime.com/img/lightboxback.jpg); padding: 2px; height: 45px;}
.cart_corner{margin-right: 2px; margin-top:3px; overflow:hidden}
.bold{font-weight:bold}
.cart_holder{margin-top: 6px; height:18px; overflow:hidden}
.overflow{overflow:hidden}
.cart_combo{z-index:-999999; width:94px}
.cart00{margin-top: 4px;}
.cart01{margin-right:3px}
.cart02{height:13px; overflow:hidden}
.cart03{height: 104px; overflow: hidden;}
.cart04{float:left}
.cart05{margin-top: 40px; width: 28px; height: 22px; cursor: pointer; background-image: url(http://thumbs.dreamstime.com/site-img/cart_scroll_left.gif);}
.cart06{margin-top: 2px; width: 13px; height: 13px; cursor: pointer; background-image: url(http://thumbs.dreamstime.com/site-img/cart_scroll_end.gif); margin-left: 5px;}
.cart07{height: 154px; overflow: hidden;  margin-left: 2px;float:left; }
.cart08{position: absolute; width: 25px; height: 101px; background-image: url(http://thumbs.dreamstime.com/site-img/cart_fade_left.png);}
.cart09{position: absolute; width: 25px; height: 101px; background-image: url(http://thumbs.dreamstime.com/site-img/cart_fade_right.png); right: 36px;}
.cart10{height: 104px; vertical-align:bottom; display:table}
.cart11{float:right;}
.cart12{margin-top: 40px; width: 28px; height: 22px; cursor: pointer; background-image: url(http://thumbs.dreamstime.com/site-img/cart_scroll_right.gif); right: 6px;}
.cart13{margin-top: 2px; width: 13px; height: 13px; cursor: pointer; background-image: url(http://thumbs.dreamstime.com/site-img/cart_scroll_end.gif); margin-left: 10px;}
.cart14{background-image: url(http://thumbs.dreamstime.com/img/lightboxback.jpg); padding: 2px; height: 70px;}
.cart15{margin-right: 2px; margin-top:3px; overflow:hidden}
.cart16{margin-top: 6px;}
.cart17{margin-top: 3px;}
.cart18{margin: 0px;}
.hide{display:none}

