/********************************************************************

Project: Formee - http://www.formeeee.org
Launched: 
Version: 3.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
         Daniel Araujo - http://www.dnlaraujo.com.br
		 Marcello Manso - http://www.marcellomanso.com.br

********************************************************************
Structure
********************************************************************/

/* fix  ff bugs */
.formee:after, .formee div:after, .formee ol:after, .formee ul:after, .formee li:after, .formee dl:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}

/* Form Structure */

.formee {margin:0;padding:0;}
.formee ul{margin:0px;padding:0px;}
.formee fieldset {
	border: 1px solid #d4d4d4;
	position: relative;
	height:100%;
	padding: 1.2em 0;
	margin: 0 0 4em;
}
.formee legend {
	margin-left:1%;
	margin-right:1%;
	padding: 0.5% 0.5% 0.8%;
}
.formee h3 {
	margin:2em 1% .8%;
	padding: 0.5% 0.5% 0.8%;
}

/* Field Grid */
.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12 {
	display:inline-block;
	/*position:relative;*/
	float:left;
	margin-left:1%;
	margin-right:1%;
	padding: 0 0.5% 1%;
	height:100%;
/*ie7*/
*margin-left:.8%;
*margin-right:.8%;
*padding: 0.8% 0.25% 1%;
}

/* 12-column Grid (thanks for Fluid 960 Grid System) */
.grid-1-12 {width: 5.333%;}
.grid-2-12 {width: 13.666%;}
.grid-3-12 {width: 22%;}
.grid-4-12 {width: 30.333%;}
.grid-5-12 {width: 38.666%;}
.grid-6-12 {width: 47%;}
.grid-7-12 {width: 55.333%;}
.grid-8-12 {width: 63.666%;}
.grid-9-12 {width: 72%;}
.grid-10-12 {width: 80.333%;}
.grid-11-12 {width: 88.666%;}
.grid-12-12 {width: 97%;}


/* clear */ .formee .clear {clear:both;}
/* input without label */ .formee-no-lbl {position:relative;padding-bottom:0;}
/* input without label */ .formee-no-lbl input,  .formee-no-lbl label,  .formee-no-lbl span,  .formee-no-lbl ul,  .formee-no-lbl p {position:absolute;bottom:0;}

/* hide element */ .formee-hidden { display:none !important; visibility:hidden !important; }

/* multiple containers inside field-grid */
.formee .floatLeft {
	clear:none;
	float:left !important;
	margin-right:0.3em !important;
}
.formee .floatRight {
	clear:none;
	float:right !important;
	margin-left:0.3em !important;
}


/* form elements  */
.formee-lbl, .formee label {
	display: block;
	height: auto;
	margin: 0.2em 0 0.3em;
}

/*EP - this broke matrix controls. don't think we need this anyway. got mike a's blessing.
    .formee td label {
	display: inline-block !important;
}*/

.formee .formee-txt, 
.formee input[type="text"],
.formee input[type="search"],
.formee input[type="email"],
.formee input[type="url"],
.formee input[type="tel"],
.formee input[type="number"],
.formee input[type="range"],
.formee input[type="date"],
.formee input[type="month"],
.formee input[type="week"],
.formee input[type="time"],
.formee input[type="datetime"],
.formee input[type="datetime-local"],
.formee input[type="color"],
.formee input[type="password"],
.formee input[type="file"],
.formee textarea,
.formee select {
	margin-bottom:15px;
	vertical-align: middle;
	/*line-height: 1.1em;*/
	width: 100%;
	/*padding:10px;*/
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
/*ie7*/
*width: 99%;
}
.formee textarea {height: 10em;}
.formee select 
{
    /*padding:9px;
    height:2.7em;*/
}

.formee-req {
	position: relative;
	top:3px;
}

.formee-list {
	height: 100%;
	list-style: none;
	padding:0;
	margin:0;
}
.formee-list li, .formee-list li {
	margin: 0 0.6em 0.8em;
	float:left;
	display: inline-block;
	list-style:none;
}
.formee-list input {margin-right: 0.2em}

.formee-list-vertical {
    list-style:none;
    padding:0;
    margin:0;
}
.formee-list-vertical li {
    float:none;
    display:block;
}

/* input size */
.formee-small {
	width: 30% !important;
	float:left;
	margin-right: 10px;
	display:inline;
/*ie7*/
*width: 25% !important;
}

.formee-medium {
	width: 50% !important;
	float:left;
	margin-right: 10px;
	display:inline;
/*ie7*/
*width: 45% !important;
}



/********************************************************************

Project: Formee - http://www.formeeee.org
Last Updated: 
Version: 3.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
         Daniel Araujo - http://www.dnlaraujo.com.br
		 Marcello Manso - http://www.marcellomanso.com.br
			 

********************************************************************
Style
********************************************************************/

.formee fieldset {
	background:#fff;
	/*corner*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* hover effect */
.grid-1-12:hover, .grid-2-12:hover, .grid-3-12:hover, .grid-4-12:hover, .grid-5-12:hover, .grid-6-12:hover, .grid-7-12:hover, .grid-8-12:hover, .grid-9-12:hover, .grid-10-12:hover, .grid-11-12:hover, .grid-12-12:hover {}
.field-button:hover {background:transparent;}


/* Form legend and titles */

.formee 
{
    background: #ffffff;
    padding: 12px 2px;
}
.formee legend, .formee h3 {
	font-size:3em;
	line-height:1.2em;
	letter-spacing: -.035em;
	color:#2b2b2b;
	font-weight: normal;
}

/* form elements  */
.formee-lbl, .formee label {
	color:#2b2b2b;
	/*font-size:1.4em;
	line-height: 1.3em;*/
    font-weight:normal;
	vertical-align:middle;
}

.formee-bold { font-weight:bold !important; }

.formee-list .formee-lbl, .formee-list label {
	display: inline;
	height: auto;
	margin: 0.5em 0 0.8em 2px;
	vertical-align:top !important;
}

em.formee-req {
	font-weight: bold;
	font-style:normal;
	color:#390;
	font-size:1.2em;
	line-height: .85em;
}

.formee .formee-txt,
.formee input[type="text"],
.formee input[type="search"],
.formee input[type="email"],
.formee input[type="url"],
.formee input[type="tel"],
.formee input[type="number"],
.formee input[type="range"],
.formee input[type="date"],
.formee input[type="month"],
.formee input[type="week"],
.formee input[type="time"],
.formee input[type="datetime"],
.formee input[type="datetime-local"],
.formee input[type="color"],
.formee input[type="password"],
.formee input[type="file"],
.formee textarea,
.formee select {
	border-color:#c6c6c6 #dadada #eaeaea;
	background: #fafafa;
	color:#999;
	/*font-size:1.4em;*/
	font-family:inherit;
	/*corner*/
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding:6px 4px;
}
.formee select {
	padding:5px 4px;
	border-color:#c6c6c6 #dadada #eaeaea;
	background: #fafafa;
	color:#999;
}
.formee .formee-txt:hover,
.formee input[type="text"]:hover,
.formee input[type="search"]:hover,
.formee input[type="email"]:hover,
.formee input[type="url"]:hover,
.formee input[type="tel"]:hover,
.formee input[type="number"]:hover,
.formee input[type="range"]:hover,
.formee input[type="date"]:hover,
.formee input[type="month"]:hover,
.formee input[type="week"]:hover,
.formee input[type="time"]:hover,
.formee input[type="datetime"]:hover,
.formee input[type="datetime-local"]:hover,
.formee input[type="color"]:hover,
.formee input[type="password"]:hover, 
.formee input[type="file"]:hover,
.formee textarea:hover,
.formee select:hover {
	color:#666;
	background: #fff none;
	border-color:#c6c6c6;
}
.formee .formee-txt:focus,
.formee input[type="text"]:focus,
.formee input[type="search"]:focus,
.formee input[type="email"]:focus,
.formee input[type="url"]:focus,
.formee input[type="tel"]:focus,
.formee input[type="number"]:focus,
.formee input[type="range"]:focus,
.formee input[type="date"]:focus,
.formee input[type="month"]:focus,
.formee input[type="week"]:focus,
.formee input[type="time"]:focus,
.formee input[type="datetime"]:focus,
.formee input[type="datetime-local"]:focus,
.formee input[type="color"]:focus,
.formee input[type="password"]:focus,
.formee input[type="file"]:focus,
.formee textarea:focus,
.formee select:focus  {
	color:#333;
	background: #fff none;
	border-color:#659ec9 #70aedd #a8cfec;
	outline: 0;
}


/* form msg status  */

.formee-msg-note {
	display:block;
	margin: -10px 0 0.8em;
	padding:0 7px 1px;
	font-size:0.875em;
	color:#acacac;
}

.formee-msg-info, .formee-msg-warning, .formee-msg-error, .formee-msg-success {
	display: block;
	height: auto;
	margin: 0 0 15px;
	padding:10px 7px 1px;
	font-size:0.875em;
	clear:both;
	color:#2b2b2b;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.formee-msg-info-small, .formee-msg-warning-small, .formee-msg-error-small, .formee-msg-success-small {
	padding:5px 20px 0;
	border: 1px solid #ccc;
	display: block;
	height: auto;
	margin: 0 0 15px;
	clear:both;
	color:#2b2b2b;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size:0.7em
}

.formee-msg-info ul, .formee-msg-warning ul, .formee-msg-error ul, .formee-msg-success ul {
	margin: 0px 0px 10px 27px;
	
}
.formee-msg-info li, .formee-msg-warning li, .formee-msg-error li, .formee-msg-success li {
	list-style: none;
	padding:0;	
	margin-bottom: .4%;
	font-size:1.0em;
	line-height:1.1em;
	vertical-align: top;
}

.formee-msg-info h3, .formee-msg-warning h3, .formee-msg-error h3, .formee-msg-success h3 {
	font-size:1.1em;
	line-height:1.5em;
	letter-spacing:-.02em;
	padding:0;
	margin:0 0 .3em 0;
}

.formee-msg-info-small h3, .formee-msg-warning-small h3, .formee-msg-error-small h3, .formee-msg-success-small h3 {
	font-size:1.4em;
	line-height:1em;
	letter-spacing:-.02em;
	padding:0;
	margin:0 0 .3em 0;
}


.formee-msg-info {border-color:#bcdfef; background-color:#d1ecf7;}
.formee-msg-info h3{background:  url(/cms/images/forms/form-ic-info.png) no-repeat 0px 3px;padding-left:25px;}
.formee-msg-info-small {border-color:#bcdfef; background-color:#d1ecf7;}
.formee-msg-info-small h3{background:  url(/cms/images/forms/form-ic-info-small.png) no-repeat 0px 0px;padding-left:25px;}
.formee-msg-warning {border-color:#fceb77;background-color:#fff6bf;}
.formee-msg-warning h3 {background:  url(/cms/images/forms/form-ic-warning.png) no-repeat 0px 3px;padding-left:25px;}
.formee-msg-warning-small {border-color:#fceb77; background-color:#fff6bf;}
.formee-msg-warning-small h3 {background:  url(/cms/images/forms/form-ic-warning-small.png) no-repeat 0px 0px;padding-left:25px;}
.formee-msg-error {border-color:#f6abab;background-color:#fad0d0;}
.formee-msg-error h3{background: url(/cms/images/forms/form-ic-error.png) no-repeat 0px 3px;padding-left:25px;}
.formee-msg-error-small {border-color:#f6abab; background-color:#fad0d0;}
.formee-msg-error-small h3{background: url(/cms/images/forms/form-ic-error-small.png) no-repeat 0px 0px;padding-left:25px;}
.formee-msg-success {border-color:#d0f1a6;background-color:#e5f8ce;}
.formee-msg-success h3{background: url(/cms/images/forms/form-ic-success.png) no-repeat 0px 3px;padding-left:25px;}
.formee-msg-success-small {border-color:#d0f1a6; background-color:#e5f8ce;}
.formee-msg-success-small h3{background: url(/cms/images/forms/form-ic-success.png) no-repeat 0px 3px;padding-left:25px;}

.formee-msg-success strong, .formee-msg-success a{color:#62b548;}
.formee-msg-info strong, .formee-msg-info a {color:#11689e;}
.formee-msg-warning strong, .formee-msg-warning a {color:#957210;}
.formee-msg-error strong, .formee-msg-error a {color:#b01717;}
.formee-msg-error-label { color: #B01717 !important; }

/* form validation */
input.formee-error,
select.formee-error,
textarea.formee-error {
	border-color: #FAD0D0 !important;
	color: #b01717 !important;
  /* shadow */
  -moz-box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
  -webkit-box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
  box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
}

label.formee-error,
label.formee-red,
label.formee-error em.formee-req,
label.formee-red em.formee-req {
	font-weight: bold;
	font-style:normal;
	color: #b01717 !important;
}

label.formee-error em,
em.formee-error,
em.formee-red {
	font-weight: bold;
	font-style:normal;
	color: #b01717 !important;
	font-size:1.2em;
	line-height: .85em;
}
