body {
	text-align: center;
	margin-right:auto;
	margin-left:auto;
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;	
	text-align: left;
}

#bcontainer{
	width: 990px;
	margin-right:auto;
	margin-left:auto;
	color: #000;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

a:link {
	color: #0000ff;
}

a:hover, a:active {
	text-decoration: none;
	color: #0000ff;
}

a:visited {
	color: #0000ff;
	text-decoration: underline;
}

#lspacer{
	width: 990px;
	height: 26px;
	background-color: #962e34;
	text-align: right;
	padding: 2px 0 0 0;
}

#lspacerb{
	width: 990px;
	height: 5px;
	background-color: #ffffff
}

#lspacerc{
	width: 990px;
	height: 5px;
	background-color: #d1d3d4;
}

#lspacer2{
	width: 990px;
	height: 50px;
	background: url('images/main/line2.gif');
	margin-right:auto;
	margin-left:auto;

}


#menu {
	width: 990px;
	height: 24px;
	background-color: #006579
}

#menu ul {
	margin: 0;
	padding: 0px 5px 0 10px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin-right: 23px;
	padding: 5px 5px;
	letter-spacing: -.5px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: underline; 
	color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

/* Page */

#page {
	width: 990px;
   	margin-right:auto;
	margin-left:auto;
}

/* Content */

#content {
	float: right;
	width: 765px;
}

#content p {
	font-size: 12px;
	color: #00000; padding-left:15px; padding-right:0; padding-top:4px; padding-bottom:0;
}

#content h1{
	font: 20px Arial, Helvetica, sans-serif;
	color: #006579;
	line-height: 5px;
	padding-left:8px; padding-right:0; padding-top:10px; padding-bottom:0;

}


/* Sidebar */

#sidebar {
	float: left;
	width: 225px;
	background: url('images/main/sb_bkd.gif');
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:left;
}

#sidebar li {
	margin-bottom: 10px;
	padding: 0 15px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding-left: 15px;
}

#sidebar p {
	font-size: 14px;
	color: #00000; padding-left:15px; padding-right:0; padding-top:4px; padding-bottom:0
}

#sidebar h1{
	font: 20px Arial, Helvetica, sans-serif;
	color: #006579;
	line-height: 5px;
	padding-left:15px; padding-right:0; padding-top:4px; padding-bottom:0

}

#frame2 {
		width:990px;
		margin-right:auto;
		margin-left:auto;
		margin-top:0px;
		padding:0px;
	}

#main1 {
	padding-left:3px;
	padding-right:8px;
	width:236px;
	float:left;
	background:#fff;
	padding-bottom:10px;
    text-align: left;
    background: url('images/main/vline.gif');
    
}
#main2 {
	padding-left:4px;
	padding-right:9px;
	width:236px;
	float:left;
	background:#fff;
	padding-bottom:10px;
    text-align: left;
}

#cseparator {
	padding-left:3px;
	padding-right:8px;
	width:236px;
	float:left;
	background:#fff;
	padding-bottom:10px;
    text-align: center;    
}

#cseparator2 {
	padding-left:4px;
	padding-right:9px;
	width:236px;
	float:left;
	background:#fff;
	padding-bottom:10px;
    text-align: center;    
}

h1{
	font: 20px Arial, Helvetica, sans-serif;
	color: #006579;
	text-align:left;
	font-size: 16pt;
}	
	
h2{
	font: 14px Arial, Helvetica, sans-serif;
	color: #006579;
	text-align:left;
}	

p{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;	

}	
a{
	font: 12px Arial, Helvetica, sans-serif;
	color: #0000ff;	
}		
	
	
/* Footer */

#footer {
   	margin-right:auto;
	margin-left:auto;
	width: 990px;
	height: 24px;
	background-color: #d1d3d4
}

#footer p{
	text-align: right;
	font: 11px Arial, Helvetica, sans-serif;
	color: #000000;	
	padding-right:5px;
	padding-top:5px;	
	padding-bottom:5px;
}	

html>body #footer {
	height: auto;
}


#legal {
	clear: both;
	padding-top: 10px;
	text-align: center;
	color: #999999;
}

#legal a {
	color: #999999;
}
#bcontainer #smtxt {
	font-size: 8pt;
}
