.tooltip_simple {
	color: #000000; outline: none;
	cursor: help; text-decoration: none;
	position: relative;
	border-bottom:1px dotted #666;
}
.tooltip_simple span {
	margin-left: -999em;
	position: absolute;
}
.tooltip_simple:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	margin-left: 0; width: 250px;
}
.tooltip_simple:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}
.tooltip_simple:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;
}

.info_simple {
    background: #e5e5e5; border: 1px solid #cccccc;
    font-size: 12px;
    padding: 5px;
}
.share{
	border-radius: 3px 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
	border:1px solid #c5c5c5;
	padding:3px;
	position:absolute;
	background:#ffffff;
	margin:-13px 0 0 -106px;
	z-index:1;
}
.imginfo{height:15px;margin:3px 0 3px 0;}

/* begin image preview + download frame */
#details_preview_overlay_comp, #details_download_overlay_comp{
	display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 11000;
    opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */
	filter: alpha(opacity=60); /* IE 5-7 */
	-moz-opacity: 0.6; /* Netscape */
	-khtml-opacity: 0.6; /* Safari 1.x */
	transition: 0.3s;
}
#compImg_link{
	text-decoration: none;
	border: none;
	cursor: zoom-in;
}
#details_preview_exit_comp{
	display: none;
	position: absolute;
	top: 10px;
	right: -17px;
	background: none repeat scroll 0 0 #bbbbbb;
    border-radius: 30px;
    color: #ffffff !important;
    font-size: 22px;
    width: 30px;
    height: 30px;
    line-height: 27px;
    position: absolute;
    text-align: center;
    text-decoration: none;
	cursor: pointer;
	z-index: 11000;
}
#details_preview_exit_comp:hover{
	background: none repeat scroll 0 0 #333;
}
#details_preview_basket, #details_download_basket{
	display: none;
	z-index: 11001;
	margin: auto;
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 250px;
	height: 50px;
	border-radius: 10px;
	transition: 0.3s;
}
#details_preview_basket_img_wrapper{
	display: none;
	opacity: 0;
	transition: 0.5s;
}
#details_preview_basket_loading, #details_download_basket_loading{
	margin: auto;
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#details_preview_basket img, #details_download_basket_loading img{
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
}
#details_preview_basket img{
	cursor: zoom-out;
}
/* exit image preview + download frame */

/* download frame */
#details_download_basket{
	width: 500px;
	height: 290px;
	border-radius: 0;
	transition: 0.2s;
}
#details_download_basket_content_wrapper{
	display: none;
	width: 500px;
	z-index: 10;
	background-color:#fff;
	transition: 0.2s;
}
#details_download_basket_content_downloader{
	height: 200px;
}
#details_download_basket_loading{
	display: none;
}
.details_download_exit_comp_wrapper{
	float: right;
	padding: 0 20px 20px;
}
.dwl_grn{
	margin: 0;
	color: #fff;
	cursor: pointer;
}
#details_download_attribution_bar, #details_download_attribution_content{
	background-color: #eee;
	padding: 10px 20px;
}
#details_download_attribution_bar{
	cursor: pointer;
}
.dlbox_arrow{
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	transition: 0.2s;
}
#details_download_attribution_bar:hover .dlbox_arrow{
	-webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}
.dlbox_arrow_rotate{
	-webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}
#details_download_attribution_bar div{
	line-height: 16px;
	font-weight: bold;
	font-size: 14px;
	margin-right: 10px;
}
#details_download_attribution_content{
	display: none;
	height: 90px;
}

.dlbox-wrapper{
	background-color:#fff;
	width: 460px;
	height: 180px;
	padding: 20px 20px 0;
}
.dlbox-title{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	height:20px;
	padding:10px 10px 15px;
	border-bottom:1px solid #eee;
}
.dlbox-main-wrapper{
	padding:20px 0 0;
}
.dlbox-download-icon{
	width: 80px;
	padding: 0 10px;
}
.dlbox-main{
	padding: 0 10px;
	width: 320px;
}
.dlbox-main-contentbox{
	padding: 5px 0;
	font-size:12px;
}
.dlbox-main-contentbox-imageid{
	font-size:14px;
	font-weight:bold;
}
/* exit download frame */

#compImg_wrapper {
	position: relative;
}
#img_watermark {
	width:100%;
	height:100%;
	position:absolute;
	display: none;
}
.img_watermark_line {
	stroke:#aaa;
	stroke-width:1;
	opacity:0.2;
}